**Step 1: Load the Data**

In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("train.csv")

# Show first 5 rows
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

**Step 2: BEFORE CLEANING – Profile the Data**

The goal is to capture the “raw” dataset statistics so you can compare before vs after.

In [2]:
# Shape (rows & columns)
print("Shape:", df.shape)

Shape: (1460, 81)

In [3]:
# Data types & missing values
print("\nInfo:")
df.info()

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [4]:
# Summary stats
print("\nDescribe:")
df.describe(include='all')

Describe:

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,1460.000000,1460.000000,1460,1201.000000,1460.000000,1460,91,1460,1460,1460,...,1460.000000,7,281,54,1460.000000,1460.000000,1460.000000,1460,1460,1460.000000
unique,NaN,NaN,5,NaN,NaN,2,2,4,4,2,...,NaN,3,4,4,NaN,NaN,NaN,9,6,NaN
top,NaN,NaN,RL,NaN,NaN,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,Gd,MnPrv,Shed,NaN,NaN,NaN,WD,Normal,NaN
freq,NaN,NaN,1151,NaN,NaN,1454,50,925,1311,1459,...,NaN,3,157,49,NaN,NaN,NaN,1267,1198,NaN
mean,730.500000,56.897260,NaN,70.049958,10516.828082,NaN,NaN,NaN,NaN,NaN,...,2.758904,NaN,NaN,NaN,43.489041,6.321918,2007.815753,NaN,NaN,180921.195890
std,421.610009,42.300571,NaN,24.284752,9981.264932,NaN,NaN,NaN,NaN,NaN,...,40.177307,NaN,NaN,NaN,496.123024,2.703626,1.328095,NaN,NaN,79442.502883
min,1.000000,20.000000,NaN,21.000000,1300.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,1.000000,2006.000000,NaN,NaN,34900.000000
25%,365.750000,20.000000,NaN,59.000000,7553.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,5.000000,2007.000000,NaN,NaN,129975.000000
50%,730.500000,50.000000,NaN,69.000000,9478.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,6.000000,2008.000000,NaN,NaN,163000.000000
75%,1095.250000,70.000000,NaN,80.000000,11601.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,8.000000,2009.000000,NaN,NaN,214000.000000
max,1460.000000,190.000000,NaN,313.000000,215245.000000,NaN,NaN,NaN,NaN,NaN,...,738.000000,NaN,NaN,NaN,15500.000000,12.000000,2010.000000,NaN,NaN,755000.000000

In [5]:
# Missing values count
print("\nMissing values per column:")
df.isnull().sum().sort_values(ascending=False)

Missing values per column:

PoolQC           1453
MiscFeature      1406
Alley            1369
Fence            1179
MasVnrType        872
                 ...
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

**Step 3: Data Cleaning Steps**

Cleaning depends on what issues you find.
Typical tasks for House Price Prediction:

1. Handle Missing Values

* Fill numeric columns (e.g., LotFrontage) with median/mean.
* Fill categorical columns (e.g., Alley) with "None" or mode.

In [6]:
df.fillna({
    'LotFrontage': df['LotFrontage'].median(),
    'Alley': 'None'
}, inplace=True)

2. Remove Duplicates

In [7]:
df.drop_duplicates(inplace=True)

3. Correct Data Types
* Some numeric columns might actually be categories (e.g., MSSubClass).

In [8]:
df['MSSubClass'] = df['MSSubClass'].astype(str)

4. Outlier Handling (Optional)
* Use boxplots or z-scores to detect extreme outliers (e.g., very large GrLivArea).

In [9]:
df = df[df['GrLivArea'] < 4500]

5. Standardize/Normalize Text
* Ensure consistent casing for categorical text (e.g., "None" vs "none").

**Step 4: AFTER CLEANING – Profile Again**

Repeat the same profiling to show the cleaned dataset:

In [10]:
print("Shape:", df.shape)

Shape: (1458, 81)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1458 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1458 non-null   int64
 1   MSSubClass     1458 non-null   object
 2   MSZoning       1458 non-null   object
 3   LotFrontage    1458 non-null   float64
 4   LotArea        1458 non-null   int64
 5   Street         1458 non-null   object
 6   Alley          1458 non-null   object
 7   LotShape       1458 non-null   object
 8   LandContour    1458 non-null   object
 9   Utilities      1458 non-null   object
 10  LotConfig      1458 non-null   object
 11  LandSlope      1458 non-null   object
 12  Neighborhood   1458 non-null   object
 13  Condition1     1458 non-null   object
 14  Condition2     1458 non-null   object
 15  BldgType       1458 non-null   object
 16  HouseStyle     1458 non-null   object
 17  OverallQual    1458 non-null   int64
 18  OverallCond    1458 non-null   int64
 19  YearBuilt      1458 non-null   int64
 20  YearRemodAdd   1458 non-null   int64
 21  RoofStyle      1458 non-null   object
 22  RoofMatl       1458 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     586 non-null    object
 26  MasVnrArea     1450 non-null   float64
 27  ExterQual      1458 non-null   object
 28  ExterCond      1458 non-null   object
 29  Foundation     1458 non-null   object
 30  BsmtQual       1421 non-null   object
 31  BsmtCond       1421 non-null   object
 32  BsmtExposure   1420 non-null   object
 33  BsmtFinType1   1421 non-null   object
 34  BsmtFinSF1     1458 non-null   int64
 35  BsmtFinType2   1420 non-null   object
 36  BsmtFinSF2     1458 non-null   int64
 37  BsmtUnfSF      1458 non-null   int64
 38  TotalBsmtSF    1458 non-null   int64
 39  Heating        1458 non-null   object
 40  HeatingQC      1458 non-null   object
 41  CentralAir     1458 non-null   object
 42  Electrical     1457 non-null   object
 43  1stFlrSF       1458 non-null   int64
 44  2ndFlrSF       1458 non-null   int64
 45  LowQualFinSF   1458 non-null   int64
 46  GrLivArea      1458 non-null   int64
 47  BsmtFullBath   1458 non-null   int64
 48  BsmtHalfBath   1458 non-null   int64
 49  FullBath       1458 non-null   int64
 50  HalfBath       1458 non-null   int64
 51  BedroomAbvGr   1458 non-null   int64
 52  KitchenAbvGr   1458 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1458 non-null   int64
 55  Functional     1458 non-null   object
 56  Fireplaces     1458 non-null   int64
 57  FireplaceQu    768 non-null    object
 58  GarageType     1377 non-null   object
 59  GarageYrBlt    1377 non-null   float64
 60  GarageFinish   1377 non-null   object
 61  GarageCars     1458 non-null   int64
 62  GarageArea     1458 non-null   int64
 63  GarageQual     1377 non-null   object
 64  GarageCond     1377 non-null   object
 65  PavedDrive     1458 non-null   object
 66  WoodDeckSF     1458 non-null   int64
 67  OpenPorchSF    1458 non-null   int64
 68  EnclosedPorch  1458 non-null   int64
 69  3SsnPorch      1458 non-null   int64
 70  ScreenPorch    1458 non-null   int64
 71  PoolArea       1458 non-null   int64
 72  PoolQC         6 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1458 non-null   int64
 76  MoSold         1458 non-null   int64
 77  YrSold         1458 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1458 non-null   object
 80  SalePrice      1458 non-null   int64
dtypes: float64(3), int64(34), object(44)
memory usage: 934.0+ KB

In [12]:
df.describe()

,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1450.000000,1458.000000,1458.000000,...,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000,1458.000000
mean,730.251715,69.655693,10459.936900,6.093964,5.576132,1971.218107,1984.834019,102.753793,438.827160,46.613169,...,94.084362,46.245542,21.984225,3.414266,15.081619,2.433471,43.548697,6.323045,2007.816187,180932.919067
std,421.601532,21.042480,9859.198156,1.376369,1.113359,30.193754,20.641760,179.442156,432.969094,161.420729,...,125.350021,65.312932,61.155666,29.337173,55.792877,38.209947,496.460799,2.700167,1.328826,79495.055285
min,1.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.250000,60.000000,7544.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129925.000000
50%,730.500000,69.000000,9475.000000,6.000000,5.000000,1972.500000,1994.000000,0.000000,382.000000,0.000000,...,0.000000,24.500000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1094.750000,79.000000,11600.000000,7.000000,6.000000,2000.000000,2004.000000,164.750000,711.000000,0.000000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,2188.000000,1474.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [13]:
df.isnull().sum().sort_values(ascending=False)

PoolQC           1452
MiscFeature      1404
Fence            1177
MasVnrType        872
FireplaceQu       690
                 ...
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

Step 5: Save the Cleaned Data as a CSV

In [14]:
df.to_csv("train_cleaned.csv", index=False)

In [15]:
cleaned_df = pd.read_csv("train_cleaned.csv")

In [16]:
cleaned_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

**Step 5: Before vs After Report**

Create a comparison summary.
This can be:

| Feature | Before Cleaning | After Cleaning |
|:-------:|:--------------:|:--------------:|
| Shape | (1460, 81) | (1458, 81) |
| Missing Values | 19 columns had NaNs | 0 columns have NaNs |
| Duplicates | 2 duplicates | 0 duplicates |